*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Common Style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color:white;
}

/* ----------
navigation bar css style
----------*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 30px;
}
header{
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin-bottom: 145px;
}
nav.container.header1 {
    margin-bottom: 70px;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color:black;
    font-weight: 600;
    padding: 15px 10px;
}
.nav-icon{
    list-style: none;
    margin: 10px;
}
.icon-n {
    padding: 0px 10px;

}
/* ----------
Banner area css style
----------*/
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 170px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left h1{
    font-size: 45px;
}
.banner-left p{
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}
.banner-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.primary-button{
    outline: 0;
    border: 0;
    padding: 15px 20px;
    background-image: linear-gradient(90deg, #c21273,#FF008E);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 7px 0 #a5075e;
    position: relative;
    top: 0;
}
.primary-button:active{
    top: 5px;
    box-shadow: 0 2px 0 #a5075e;
}

/*------------ 
Popular collection area
------------ */
.section-tittle{
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;

}
.collections{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:24px;
}
.collection .collection-banner img{
    width: 345px;
    height: 256px;

}
.collection{
    width: 345px;
    height: 440px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.collection-detail {
    margin-top: 16px;
    padding-left: 14px;
    padding-bottom: 10px;
}
.collection-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 215px 8px 0px;
}
.collection-tittle {
    margin-bottom: 16px;
}
.collection-price {
    margin-bottom: 6px;
}
.fa-star{
    font-size: 12PX;
}
.fa-star.filled{
    color:#FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}
.button{
    color: hotpink;
    border-style: none;
    background-color: white;
    text-align: right;
    font-size: 17px;
}
.item-button {
    text-align: right;
    padding: 0 35px 0px 0px;
}
/* ---------
facility area 
-----------*/
#facility_p {
    text-align: center;
    font-size: 15px;
    padding-bottom: 15px;
}

.facilitys{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:26px;
}
.facility-banner img{
    width: 360px;
    height: 265px;
}
.facility{
    width: 360px;
    height: 500px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.facility-tittle {
    margin-bottom: 16px;
    padding-top: 20px;
    padding-left: 17px;
}
#facility-details {
    padding: 0 15px;
}

/*---------- 
Footer section
------------ */
footer.footer_area {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 15px;
    height: 180px;
}

h1.footer-tittle {
    padding-bottom: 10px;
    padding-top: 15px;
}

p.footer-details {
    padding-bottom: 5px;
}
p.footer-details1 {
    padding-bottom: 10px;
}
i.footer-icon.fas.fa-globe {
    padding-left: 15px;
}
i.footer-icon.fab.fa-twitter {
    padding-left: 15px;
}
i.footer-icon.fab.fa-youtube {
    padding-left: 15px;
}


/* -----------
responsive css 
-------------*/
@media (max-width:950px){
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    .banner-left h1{
        font-size: 35px;
    }
}

@media screen and (max-width:1150px){
    .banner{
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .collections,
    .facilitys{
        grid-template-columns: 1fr 1fr;

    }
    .footer_area{
        /* width:850px; */
        /* margin-left: 100px; */
    }
    
}
@media screen and (max-width:800px){
    .collections,
    .facilitys{
        grid-template-columns: 1fr;
        /* text-align: center; */
        margin-left: 100px;

    }
    .footer_area{
        /* width:450px; */
        /* margin-left: -10px; */
    }
    

}
@media screen and (max-width:544px){
    .collections,
    .facilitys{
      
        margin-left:30px;

    }
    .footer_area{
        
        width:450px; 
        margin-left:-20px
    }
    

}